table.table-bordered, table.table-bordered th, table.table-bordered td {
  border: 1px solid;
  text-align: center;
}

table.table-bordered {
  width: 100%;
  border-collapse: collapse;
}

form.form-control {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}
form.form-control:focus {
    border-color: #1e90ff;
    box-shadow: 0 0 0 0.25rem rgba(30, 144, 255, 0.25);
}
form.btn-primary {
    padding: 10px 20px;
}

body {
  background-color: rgba(208, 210, 211, 0.551);
}



